<div class="selected-fields-table" *ngIf="selectedFields.length > 0">
    <table>
        <thead>
            <tr>
                <th>Parent</th>
                <th>Field</th>
                <th>Operator</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let selected of selectedFields; let i = index">
                <td class="parent">

                </td>
            </tr>
        </tbody>
    </table>
</div>